.skills-ruby-img, .skills-react-img, .skills-redux-img, .skills-node-img, .skills-postgre-img, .skills-mongo-img, .skills-html-img, .skills-scss-img {
  margin-bottom: .25rem;
}

.portfolio-header {
  display: flex;
  justify-content: center;
}

.portfolio-links {
  display: flex;
  justify-content: space-around;
  /* font-size: larger; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.portfolio-links-row2 {
  display: flex;
  justify-content: center;
}

.portfolio-links-livesite {
  color: black;
  background-color: white;
  border: 5px;
  border-radius: 5px;
  /* border-style: groove; */
  padding: 1rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
  font-weight: bold;
}
.portfolio-links-livesite:hover {
  transform: scale(1.15);
  color: black;
  background-color: #f4623a;
}

.portfolio-links-github {
  color: black;
  background-color: white;
  border: 5px;
  border-radius: 5px;
  /* border-style: groove; */
  padding: 1rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
  font-weight: bold;
}
.portfolio-links-github:hover {
  transform: scale(1.15);
  color: black;
  background-color: #f4623a;
}

.contact-info-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.contact-info-link {
  color: blueviolet;
}
.contact-info-div:hover, .contact-info-link:hover {
  transform: scale(1.25);
  color: blue;
}

.contact-info-resume {
  font-size: x-large;
  margin-top: 5rem;
  margin-bottom: .5rem;
}
.btn btn-light btn-xl:hover {
  transform: scale(2);
}
