.headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-img {
  height: 100px;
  width: 100px;
  margin-bottom: 5px;
}

.myResume {
  font-size: larger;
  color: white;
  transition: 325ms;
  padding: 5px;
  margin-bottom: 25px;
}
.myResume:hover {
  transform: scale(1.015);
  color: aqua;
}

.portfolio-pic {
  border-radius: 50%;
  border-style: groove;
  border-color: var(--light-blue);
  height: 160px;
  width: 160px;
}

.portfolio-header {
  display: flex;
  justify-content: center;
}

.portfolio-links {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.portfolio-links-row2 {
  display: flex;
  justify-content: center;
}

.portfolio-links-livesite, .portfolio-links-github {
  color: black;
  background-color: white;
  border: 5px;
  border-radius: 5px;
  padding: .75rem;
  margin-top: .5rem;
  margin-bottom: 0;
  font-weight: bold;
  transition: 325ms;
}
.portfolio-links-livesite:hover, .portfolio-links-github:hover {
  transform: scale(1.15);
  color: white;
  background-color: var(--blue);
}

.contact-info-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.contact-info-link {
  color: blueviolet;
}
.contact-info-div:hover, .contact-info-link:hover {
  transform: scale(1.25);
  color: rgb(45, 45, 193);
}

.contact-info-resume {
  font-size: x-large;
  margin-top: 5rem;
  margin-bottom: .5rem;
}
.btn btn-light btn-xl:hover {
  transform: scale(2);
}

.contact-info-phone-number {
  margin-top: 2.5rem;
}
